# Return EXIT_SUCCESS if a command is available
function is_installed() {
    command -v "$1" &> /dev/null && return 0 || return 1
}

# Return EXIT_SUCCESS if is on MacOS
function is_macos() {
    [[ $(uname) =~ [Dd]arwin ]] && return 0 || return 1
}

# Return EXIT_SUCCESS if is on Linux
function is_linux() {
    [[ $(uname) =~ [Ll]inux ]] && return 0 || return 1
}

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1");
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8";
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Upload file to transfer.sh
# https://github.com/dutchcoders/transfer.sh/
function transfer() {
  tmpfile=$( mktemp -t transferXXX )
  curl --progress-bar --upload-file "$1" https://transfer.sh/$(basename $1) >> $tmpfile;
  cat $tmpfile;
  rm -f $tmpfile;
}

function rex () {
    wine $HOME/tools/Rex.exe "$@" 2> /dev/null
}

function hex() {
    echo "obase=16; $1" | bc | xargs printf "0x%s\n"
}

function dec() {
    echo $1 | tr a-f A-F | sed 's/0x//' | xargs -0 printf "obase=10;ibase=16; %s" | bc
}

